.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}


.links {
  display: flex;
  width: fit-content;
  gap: 40px;
}

.links > div {
  cursor: pointer;
  color: var(--tertiary);
  transition: color 0.3s ease;
}

.links > div:hover {
  color: var(--primary);
}

