.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  width: fit-content;
}

.pronunciation {
    margin-left: 45%;
    text-align: end;
    color: #808080;
    width: 100%;
}
